[package]
name = "afec-gui"
version = "0.1.0"
description = "A Tauri App"
authors = ["emuell"]
license = "GPL v3"
repository = ""
default-run = "afec-gui"
edition = "2021"
rust-version = "1.57"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[build-dependencies]
tauri-build = { version = "1.0.4", features = [] }

[dependencies]
serde_json = "1.0"
serde = { version = "1.0", features = ["derive"] }
tauri = { version = "1.0.5", features = ["api-all"] }
tauri-plugin-window-state = { version = "0.1" }
sqlite = "0.26.0"
bhtsne = "0.5.1"
rstats = "1.2.12"

[dependencies.tauri-plugin-sqlite]
git = "https://github.com/lzdyes/tauri-plugin-sqlite"
tag = "v0.1.1"

[features]
# by default Tauri runs in production mode when `tauri dev` runs it is executed with 
# `cargo run --no-default-features` if `devPath` is an URL
default = [ "custom-protocol" ]
custom-protocol = [ "tauri/custom-protocol" ]
